.header__lang-link {
    margin-right: 18px;
    max-width: 30px;
    height: 28px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease;
    text-decoration-line: none;
    color: inherit;
}

.header__lang-link:last-child {
    margin: 0;
}

.header__lang-link:hover {
    opacity: .8;
}